<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="content">
    <div class="row main-head ">
        <div class="col-12 main-title ">
            # Movie List
        </div>
    </div>
    <div class="row ">
        <div class="table-responsive portlet">
            <table class="table table-sm table-hover tb-success">
                <tr class="center">
                    <th>#</th>
                    <th>title</th>
                    <th>type</th>
                    <th>createTime</th>
                </tr>
                <tr class="center">
                    <th>#</th>
                    <th>title</th>
                    <th>type</th>
                    <th>createTime</th>
                </tr>

            </table>
        </div>
    </div>
</th:block>
</html>