<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="suho.pofol.mappers.chat.ChatMapper">
    <select id="FollowerSelect" resultType="suho.pofol.dto.chat.ChatListDTO" parameterType="int">     <!--suho.pofol.domain.notice.Notice-->
        SELECT f1.follower_id, f1.following_id, u.nickname
          FROM follow f1
                 JOIN follow f2
                   ON f1.follower_id = f2.following_id
                  AND f1.following_id = f2.follower_id
                 JOIN user u
                   ON u.user_id = f1.following_id
         WHERE 1=1
           and (f1.accepted = 1 or f2.accepted = 1)
           and f1.follower_id = #{userId}
    </select>

<!--    <select id="FindConversationId" resultType="java.lang.Long">-->
<!--        SELECT conversationId-->
<!--        FROM conversation-->
<!--        WHERE (user1_id = #{userId1} AND user2_id = #{userId2})-->
<!--        OR (user1_id = #{userId2} AND user2_id = #{userId1})-->
<!--    </select>-->
</mapper>