<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/default}">

<th:block layout:fragment="content">

<!--    <script type="text/javascript">-->
<!--        function previewImage(event) {-->
<!--            var input = event.target;-->

<!--            if (input.files && input.files[0]) {-->
<!--                var reader = new FileReader();-->

<!--                reader.onload = function(e) {-->
<!--                    var preview = document.getElementById('imagePreview');-->
<!--                    preview.src = e.target.result;-->
<!--                    preview.style.display = 'block';-->
<!--                }-->

<!--                reader.readAsDataURL(input.files[0]);-->
<!--            }-->
<!--        }-->
<!--    </script>-->

    <div>
        <h2>My...</h2>
        <div th:each="post : ${posts}">
            <div>
                <img th:src="@{${post.imageUrl}}" id="imagePreview" alt="Post Image" style="display: none;">
                <p th:text="${post.caption}"></p>

                <div>
                    <form th:action="@{/addLike}" method="post">
                        <input type="hidden" th:value="${post.postId}" name="postId"/>
                        <button type="submit">Like</button>
                    </form>
                    <span th:text="${#numbers.formatInteger(post.likes.size(), 0)}">0</span> Likes
                </div>

                <div>
                    <form th:action="@{/addComment}" method="post">
                        <input type="hidden" th:value="${post.postId}" name="postId"/>
                        <textarea name="content" placeholder="Add a comment"></textarea>
                        <button type="submit">Comment</button>
                    </form>
                    <div th:each="comment : ${post.comments}">
                        <p><strong th:text="${comment.user.username}"></strong> <span th:text="${comment.content}"></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>